@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#notesContainer {
    --NOTES_WIDTH: max(85%, 850px);
    --NOTES_BACKGROUND: var(--colorBgAlphaBlur);
    --NOTES_BACKGROUND_BLUR: var(--backgroundBlur);
    --NOTES_FORGROUND_COLOR: var(--colorFg);
    --NOTES_FONT: 400 13px 'Segoe UI', system-ui, sans-serif;
    --minHeight_TextArea_Li: 30px;
}

#notesContainer {
    box-sizing: border-box;

    background: var(--colorBgAlphaBlur);
    color: var(--NOTES_FORGROUND_COLOR);
    width: var(--NOTES_WIDTH);
    margin: auto;
    padding: 9px 9px 6px 9px;
    backdrop-filter: var(--NOTES_BACKGROUND_BLUR);
    border-radius: var(--radius);
    animation: 0.4s ease-in fadein;

    /* margin-bottom: 20px; */
    /* background-color: slategray; */

    max-height: calc(100vh / 6) !important;
    overflow: auto;

    position: relative;
    top: -40px;
}

/* Grid Starts*/
#notesGrid {
    display: grid;
    /* grid-template-columns: 60% auto; */
}

/* Grid Ends */

#notesContainer #add-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: calc(100vh / 6) !important;
    position: sticky;
    top: 0;
    /* justify-content: center; */
}

#notesContainer #add-form textarea {
    min-height: var(--minHeight_TextArea_Li);
    max-height: 14vh;
    resize: vertical;
    margin-bottom: 10px;

    border-radius: 10px;
    padding-left: 10px;

    width: 100%;
}

#notesContainer #add-form {
    display: none;
}

/* list Starts*/
#list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-right: 10px;
}

#list li {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin-bottom: 2px;
    padding: 2px 12px;

    /*must be textarea size */
    min-height: var(--minHeight_TextArea_Li);
}

#list li .li-content {
    width: 100% !important;

    font: var(--NOTES_FONT);
    /* font-size: 12px; */
    text-align: justify;

    word-wrap: break-word;
    white-space: normal;
    word-break: break-word;
}

#list li .li-content::first-letter {
    text-transform: capitalize;
}

.checkbox {
    cursor: pointer;
}

.checkbox:checked~.li-content {
    text-decoration: line-through;
    color: gray;
}

#list li .li-time {
    width: 165px !important;
    text-align: right;
}

#list li .li-time:hover {
    color: var(--colorHighlightBg);
}

/* list Ends */

/* Btn Styles Starts*/
#notesContainer button {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.btn-svg {
    /* make svg center in btn */
    padding-top: 3px;
}

.btn-svg:hover {
    fill: var(--colorHighlightBg);
    transition: fill 0.3s;
}

.btn-close:hover {
    fill: red;
}

#submit-btn {
    background-color: rgba(0, 0, 0, 0.5) !important;
    /* background-color: red !important; */
    padding: 2px;
    padding-bottom: 1px;
    border-radius: 6px;
}

#list li button:hover {
    transform: scale(1.2);
    transition: 0.3s all;
}

/* Btn Styles Ends*/

/* List Li Operations Starts */
#list li>input,
#list li>button,
#list li .li-time {
    display: none;
}

#list li:hover>.li-content {
    margin: 0 12px;
}

#list li:hover>input,
#list li:hover>button,
#list li:hover>.li-time {
    display: inline;
}

#list li button:hover,
#submit-btn:hover {
    transform: scale(1.2);
    transition: 0.5s all;
}

/* List Li Operations Ends */

/* List Ordable Starts*/

#list li.insertion-marker {
    position: relative;
    height: 6px !important;
    box-sizing: border-box;
    margin: -3px 0;
    border-radius: 2px;
    background: rgb(150, 150, 255);
    z-index: 999999;

    /* remove min-height */
    min-height: auto;
}

#list li.selected {
    /* background: rgb(150, 150, 255); */
    color: white;
    background-color: var(--colorHighlightBg);
}

/* List Ordable Ends*/
@keyframes fadeinout {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.successColor {
    color: greenyellow;
    animation: fadeinout 2s;
}