@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#notesContainer {
    box-sizing: border-box;
    --NOTES_WIDTH: max(85%, 850px);
    --NOTES_BACKGROUND: var(--colorBgAlphaBlur);
    --NOTES_BACKGROUND_BLUR: var(--backgroundBlur);
    --NOTES_FORGROUND_COLOR: var(--colorFg);
    --NOTES_FONT: 400 1.5rem 'Segoe UI', system-ui, sans-serif;
    --NOTES_AUTHOR_FONT: 400 13px 'Segoe UI', system-ui, sans-serif;
}

#notesContainer {

    background: var(--colorBgAlphaBlur);
    color: var(--NOTES_FORGROUND_COLOR);
    width: var(--NOTES_WIDTH);
    margin: auto;
    padding: 9px 9px 6px 9px;
    backdrop-filter: var(--NOTES_BACKGROUND_BLUR);
    border-radius: var(--radius);
    animation: 0.4s ease-in fadein;
    /* margin-bottom: 20px; */
    /* background-color: slategray; */
    max-height: calc(100vh / 6) !important;
    overflow: auto;

    position: relative;
	top: -40px;
}

#notesContainer ul {
    list-style-type: none;
    padding: 0;
}

/* Grid Starts*/
#notesGrid {
    display: grid;
    /* grid-template-columns: 60% auto; */
}

/* Grid Ends */

#notes-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: brown; */
    padding: 10px 0;
}

#notes-header span {
    font-size: 20px;
}

#notesContainer #add-form {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

#notesContainer #add-form textarea {
    /* border: none;
    
    height: 34px;
    max-height: 200px;
    padding: 8px;
    border-radius: 4px;
    */
    min-height: 30px;
    max-height: 20vh;
    resize: vertical;
    margin-bottom: 8px;

    border-radius: 10px;
    padding-left: 10px;
}

#add-form-btn {
    display: flex;
    justify-content: space-evenly;
}

#notesContainer .item-list {
    display: flex;
    align-items: center;
}

#notesContainer .item-list span {
    text-align: justify;
}

/* list Starts*/
#list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-right: 10px;
}

#list li {
    display: flex;
    justify-content: space-between;
    align-items: 'center';

    /* padding: 2px; */
}

#list li span {
    font: var(--NOTES_FONT);
    font-size: 12px;

    user-select: text;
    text-align: justify;

    margin-left: 6px;
    margin-right: 18px;
    width: 100%;
    vertical-align: middle;
    word-wrap: break-word;
}

#list li span::first-letter {
    text-transform: capitalize;
}

.checkbox:checked~span {
    text-decoration: line-through;
    color: gray;
}

.checkbox {
    cursor: pointer;
}

/* list Ends */

/* Btn Styles Starts*/
.mydefault-SVG,
.btn,
.btn-close,
.btn-svg {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.btn {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 8px;
}

.mydefault-SVG:hover {
    fill: var(--colorHighlightBg);
    transition: fill 0.5s;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.btn-close:hover {
    fill: red;
    transition: fill 0.5s;
}

.btn-svg {
    background-color: rgba(0, 0, 0, 0.5);
}

.btn-svg:hover {
    fill: var(--colorHighlightBg);
    transition: fill 0.5s;
}

/* Btn Styles Ends*/

#noNotes,
#list li {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin-bottom: 2px;
    padding: 2px 10px;
}

/* List Li Operations Starts */
#list li>input {
    display: none;
}

#list li>button {
    visibility: hidden;
}

#list li:hover {
    padding-left: 16px;
}

#list li:hover>span {
    margin-left: 14px;
}

#list li:hover>input {
    display: block;
}

#list li:hover>button {
    visibility: visible;
}

/* List Li Operations Ends */

/* List Ordable Starts*/
#list li.insertion-marker {
    position: relative;
    height: 6px !important;
    box-sizing: border-box;
    margin: -3px 0;
    border-radius: 2px;
    background: rgb(150, 150, 255);
    z-index: 999999;
    /* background-color: yellow !important; */
}

#list li.selected {
    /* background: rgb(150, 150, 255); */
    color: white;
    background-color: var(--colorHighlightBg);
}
/* List Ordable Ends*/